{extends ../@layout.latte}

{block content}
    <section class="bg-white py-3 py-lg-5">
        <div class="container">
            <h2 class="mb-4">Jakou mám šanci, že zemřu, když se nakazím nebo budu hospitalizován?</h2>
            {include table/death-prediction.latte}

            <blockquote class="blockquote text-secondary">
                <em>
                    <a class="link-danger" data-bs-toggle="collapse" href="#deathData" role="button"
                       aria-expanded="false" aria-controls="deathData">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down me-2" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg>
                        Zobrazit detailní úmrtnost.
                    </a>
                </em>
            </blockquote>

            <div class="collapse" id="deathData">
                {include table/death-data.latte}
            </div>

            <blockquote class="blockquote text-secondary">
                <em>
                    <a class="link-danger" data-bs-toggle="collapse" href="#hospitalizedData" role="button"
                       aria-expanded="false" aria-controls="hospitalizedData">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-down me-2" viewBox="0 0 16 16">
                            <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                        </svg>
                        Zobrazit detailní hospitalizace.
                    </a>
                </em>
            </blockquote>

            <div class="collapse" id="hospitalizedData">
                {include table/hospitalized-data.latte}
            </div>
        </div>
    </section>

    <section class="bg-white py-3 py-lg-5">
        <div class="container">
            <h2 class="mb-4">Do jaké situace se mohu dostat a jaké mám šance?</h2>
            <div class="row">
                <div class="col-lg-4">
                    <div class="bg-success bg-opacity-75 text-white p-5 h-100">
                        <div class="h6 mt-3 mb-3">Proočkovanost populace v ČR</div>
                        <div class="display-2 fw-bold">
                            X%
                        </div>
                        <div class="h6 mt-3">X lidí</div>

                        <div class="mt-4">
                            <div>Pouze první dávkou:</div>
                            <div>Pouze druhou dávkou:</div>
                            <div>Pouze třetí dávkou:</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-12">
                            <div class="bg-success bg-opacity-75 text-white p-4 mt-4 mt-lg-0">
                                <div class="h6 mt-3">Otestovaní</div>
                                <div class="h1">X</div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-danger bg-opacity-75 text-white p-4 mt-4">
                                <div class="h6 mt-3">Pozitivní (nakažení)</div>
                                <div class="h1">X%</div>
                                <div class="h6 mb-0">
                                    {var $stats = $positives['stats']}
                                    {$stats['all']['abs']|number: 0, '.', ' '} rizikových lidí
                                </div>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="bg-success bg-opacity-75 text-white p-4 mt-4">
                                <div class="h6 mt-3">Negativní</div>
                                <div class="h1">X%</div>
                                <div class="h6 mb-0">X nerizikových lidí</div>
                            </div>
                        </div>
                    </div>
                    {include table/positives-mini.latte}
                    {include table/hospitalized-mini.latte}
                    {include table/deaths-mini.latte}
                </div>
            </div>
        </div>
    </section>

    {*<section class="bg-white py-3 py-lg-5">
        <div class="container">
            <h2 class="mb-4">Jaký je počet hospitalizací dle očkovanosti?</h2>
            {include table/hospitalized.latte}
            <blockquote class="blockquote text-secondary">
                <em>*
                    <a class="link-danger" data-bs-toggle="collapse" href="#hospitalizedData" role="button" aria-expanded="false" aria-controls="hospitalizedData">
                        Zobrazit detailní hospitalizace.
                    </a>
                </em>
            </blockquote>

            <div class="collapse" id="hospitalizedData">
                {include table/hospitalized-data.latte}
            </div>
        </div>
    </section>*}

    {*<section class="bg-white py-3 py-lg-5">
        <div class="container">
            <h2 class="mb-4">Jaký je počet úmrtí dle očkovanosti?</h2>
            {include table/deaths.latte}
            <blockquote class="blockquote text-secondary">
                <em>* detailní úmrtnost viz odkaz výše.</em>
            </blockquote>
        </div>
    </section>*}

    <section class="bg-white py-3 py-lg-5">
        <div class="container pb-4 pb-lg-5">
            <h2 class="mb-3">Jakou mám šanci, že se nakazím?</h2>
            <figure class="mb-4">
                <blockquote class="blockquote">
                    <p>
                        S novou Jihoafrickou mutací, která se do Evropy šíří extrémní rychlostí &ndash;
                        <strong class="fw-bold">O&nbsp;500&nbsp;%&nbsp;rychleji než delta, je 100% jistota, že COVID
                            chytneš</strong>.
                    </p>
                </blockquote>
                <figcaption class="blockquote-footer">
                    Aktualizace: 29.11.2021
                </figcaption>
            </figure>

            <div class="row">
                <div class="col-lg-6 mt-3">
                    <a href="/img/sireni-viru.jpg" target="_blank">
                        <img src="/img/sireni-viru.jpg" alt="Rychlost šíření viru" class="img-fluid">
                    </a>
                </div>
                <div class="col-lg-6 mt-3">
                    <a href="/img/sireni-viru-v2.jpg" target="_blank">
                        <img src="/img/sireni-viru-v2.jpg" alt="Rychlost šíření viru" class="img-fluid">
                    </a>
                </div>
            </div>
        </div>
    </section>

    <section class="bg-danger py-lg-5">
        <div class="container text-white" style="padding-top: 10rem; padding-bottom: 10rem">
            <h2 class="h1">Nechceš zemřít na COVID?</h2>
            <p class="h4 fw-normal mb-5">Stihni se očkovat včas, než ti půjde o vlastní život...</p>
            <a href="https://registrace.mzcr.cz/" target="_blank" class="btn btn-lg btn-light mb-3 me-2">
                Registrovat se na očkování
            </a>
            <a href="https://ockovani.opendatalab.cz/mista" target="_blank" class="btn btn-lg btn-outline-light mb-3">
                Přehled volných očkovacích míst
            </a>
        </div>
    </section>

    <section class="bg-white py-3 py-lg-5">
        <div class="container py-5">
            <div class="opacity-25">
                <h2>Predikce úmrtnosti dle skupin (v přípravě)</h2>
                <p>Tabulku prozatím nelze připravit - někerá data nedokážeme rozdělit do potřebných skupin, nedokážeme
                    je filtrovat podle období a neradi bychom publikovali nepřesné výsledky.</p>
                {include table/summary.latte}
            </div>
        </div>
    </section>

    <section class="py-5 bg-light">
        <div class="container py-3 py-lg-5 text-center">
            <h2 class="h1 mb-3">
                Naočkuj se dřív, než z tebe
                <br class="d-none d-sm-block d-md-none"> bude
                <br class="d-none d-md-block d-lg-none"> jen číslo ve statistice!
            </h2>
            <a href="https://registrace.mzcr.cz/" target="_blank" class="btn btn-lg btn-danger mt-3 me-2">
                Registrovat se na očkování
            </a>
            <a href="https://ockovani.opendatalab.cz/mista" target="_blank" class="btn btn-lg btn-outline-danger mt-3">
                Přehled volných očkovacích míst
            </a>
        </div>
    </section>
{/block}