{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType array $vaccinated}

<div class="bg-success bg-opacity-75 text-white p-4 p-lg-5 h-100">
    <div class="h4 mb-0">Proočkovanost ČR</div>
    <div class="small opacity-50 mb-4 mb-lg-5">(aktualizace 1x za 4h)</div>

    <div class="mb-2">Očkovaní třetí dávkou</div>
    <div class="h1 fw-bold">{$vaccinated['stats']['thirdVax']['percent']|number: 2} %</div>
    <div class="mb-4 mb-lg-5">{$vaccinated['stats']['thirdVax']['abs']|number: 0, '.', ' '} lidí</div>

    <div class="mb-2">Očkovaní druhou dávkou</div>
    <div class="h1 fw-bold">{$vaccinated['stats']['secondVax']['percent']|number: 2} %</div>
    <div class="mb-4 mb-lg-5">{$vaccinated['stats']['secondVax']['abs']|number: 0, '.', ' '} lidí</div>

    <div class="mb-2">Očkovaní první dávkou</div>
    <div class="h1 fw-bold">{$vaccinated['stats']['firstVax']['percent']|number: 2} %</div>
    <div class="mb-4 mb-lg-5">{$vaccinated['stats']['firstVax']['abs']|number: 0, '.', ' '} lidí</div>

    <div class="text-white-50">
        <div class="mb-2 fw-bold">Neočkovaní</div>
        <div class="h1 fw-bold">{$vaccinated['stats']['nonVax']['percent']|number: 2} %</div>
        <div>{$vaccinated['stats']['nonVax']['abs']|number: 0, '.', ' '} lidí</div>
    </div>
</div>