{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType array $deaths}
{varType array $hospitalized}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">&nbsp;</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Průměrná šance na úmrtí</div>
                {var $all = ($deaths['all']['absolute'] / $hospitalized['all']['absolute']) * 100}
                <div class="h2">{$all|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {100 / $all|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">Neočkovaní</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Šance na úmrtí</div>
                {var $notVaccinated = (($deaths['notVaccinated']['absolute'] + $deaths['firstVaccination']['absolute']) / ($hospitalized['notVaccinated']['absolute'] + $hospitalized['firstVaccination']['absolute'])) * 100}
                <div class="h2">{$notVaccinated|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {100 / $notVaccinated|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">Očkovaní (2. dávka)</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Šance na úmrtí</div>
                {var $secondVaccination = ($deaths['secondVaccination']['absolute'] / $hospitalized['secondVaccination']['absolute']) * 100}
                <div class="h2">{$secondVaccination|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {100 / $secondVaccination|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">Očkovaní (3. dávka)</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Šance na úmrtí</div>
                {var $thirdVaccination = ($deaths['thirdVaccination']['absolute'] / $hospitalized['thirdVaccination']['absolute']) * 100}
                <div class="h2">{$thirdVaccination|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {100 / $thirdVaccination|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
</div>