{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType array $deaths}
{block deaths}
    {var $stats = $deaths['stats']}
    <div class="row">
        <div class="col-sm-6 col-lg-3">
            <div class="shadow-sm">
                <div class="bg-secondary bg-opacity-25">
                    <div class="h5 p-4 mb-0">&nbsp;</div>
                </div>
                <div class="bg-secondary text-white p-4 mb-4">
                    <div class="h6 mt-3">Úmrtí</div>
                    <div class="h2">
                        {$stats['all']['absolute']|number: 0, '.', ' '}
                        <span class="lead d-lg-block d-xl-inline">&nbsp;</span>
                    </div>
                    <div class="h6 mt-4 mb-1">Celková úmrtí za období</div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="shadow-sm">
                <div class="bg-secondary bg-opacity-25">
                    <div class="h5 p-4 mb-0">Neočkovaní</div>
                </div>
                <div class="bg-secondary text-white p-4 mb-4">
                    <div class="h6 mt-3">Úmrtí</div>
                    <div class="h2">
                        {($stats['notVaccinated']['absolute'] + $stats['firstVaccination']['absolute'])|number: 0, '.', ' '}
                        <span class="lead d-lg-block d-xl-inline">({sprintf('%.2f', $stats['notVaccinated']['percent'] + $stats['firstVaccination']['percent'])} %)</span>
                    </div>
                    <div class="mt-4 text-end">
                        <span class="fw-bold">{($stats['notVaccinated']['percent'] + $stats['firstVaccination']['percent'])|number: 1} lidí ze 100 zemře</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="shadow-sm">
                <div class="bg-secondary bg-opacity-25">
                    <div class="h5 p-4 mb-0">Očkovaní (2. dávka)</div>
                </div>
                <div class="bg-secondary text-white p-4 mb-4">
                    <div class="h6 mt-3">Úmrtí</div>
                    <div class="h2">
                        {$stats['secondVaccination']['absolute']|number: 0, '.', ' '}
                        <span class="lead d-lg-block d-xl-inline">({sprintf('%.2f', $stats['secondVaccination']['percent'])} %)</span>
                    </div>
                    <div class="mt-4 text-end">
                        <span class="fw-bold">{$stats['secondVaccination']['percent']|number: 1} lidí ze 100 zemře</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-lg-3">
            <div class="shadow-sm">
                <div class="bg-secondary bg-opacity-25">
                    <div class="h5 p-4 mb-0">Očkovaní (3. dávka)</div>
                </div>
                <div class="bg-secondary text-white p-4 mb-4">
                    <div class="h6 mt-3">Úmrtí</div>
                    <div class="h2">
                        {$stats['thirdVaccination']['absolute']|number: 0, '.', ' '}
                        <span class="lead d-lg-block d-xl-inline">({sprintf('%.2f', $stats['thirdVaccination']['percent'])} %)</span>
                    </div>
                    <div class="mt-4 text-end">
                        <span class="fw-bold">{$stats['thirdVaccination']['percent']|number: 1} lidí ze 100 zemře</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
{/block}