{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType array $deathChances}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">&nbsp;</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Průměrná šance na úmrtí</div>
                <div class="h2">{$deathChances['all']['percent']|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {$deathChances['all']['repetitionBy100']|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">Neočkovaní</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Šance na úmrtí</div>
                <div class="h2">{$deathChances['notVaccinated']['percent']|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {$deathChances['notVaccinated']['repetitionBy100']|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">Očkovaní (2. dávka)</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Šance na úmrtí</div>
                <div class="h2">{$deathChances['secondVaccination']['percent']|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {$deathChances['secondVaccination']['repetitionBy100']|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="shadow-sm">
            <div class="bg-secondary bg-opacity-25">
                <div class="h5 p-4 mb-0">Očkovaní (3. dávka)</div>
            </div>
            <div class="bg-secondary text-white p-4 mb-4">
                <div class="h6 mt-3">Šance na úmrtí</div>
                <div class="h2">{$deathChances['thirdVaccination']['percent']|number: 2} %</div>
                <div class="mt-4 text-end">
                    <span class="fw-bold">každý {$deathChances['thirdVaccination']['repetitionBy100']|number: 1} člověk zemře</span>
                </div>
            </div>
        </div>
    </div>
</div>