{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType array $deaths}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="lead text-end mb-1">{$deaths['all']['percent']|number: 2, '.'} %</div>
            <div class="mb-2 small">&nbsp;</div>
            <div class="h1">{$deaths['all']['absolute']|number: 0, '.', ' '}</div>
            <div>Celková úmrtí za uvedené období</div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="lead text-end mb-1">{sprintf('%.2f', $deaths['notVaccinated']['percent'] + $deaths['firstVaccination']['percent'])} %</div>
            <div class="mb-2 small text-end">
                <span class="fw-bold">Přežije {(100 - ($deaths['notVaccinated']['percent'] + $deaths['firstVaccination']['percent']))|floor} lidí ze 100</span>
            </div>
            <div class="h1">{($deaths['notVaccinated']['absolute'] + $deaths['firstVaccination']['absolute'])|number: 0, '.', ' '}</div>
            <div>Úmrtí neočkovaných</div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="lead text-end mb-1">{sprintf('%.2f', $deaths['secondVaccination']['percent'])} %</div>
            <div class="mb-2 small text-end">
                <span class="fw-bold">Přežije {(100 - ($deaths['secondVaccination']['percent']))|floor} lidí ze 100</span>
            </div>
            <div class="h1">{$deaths['secondVaccination']['absolute']|number: 0, '.', ' '}</div>
            <div>Úmrtí očkovaných s 2. dávkou</div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="lead text-end mb-1">{sprintf('%.2f', $deaths['thirdVaccination']['percent'])} %</div>
            <div class="mb-2 small text-end">
                <span class="fw-bold">Přežije {(100 - ($deaths['thirdVaccination']['percent']))|floor} lidí ze 100</span>
            </div>
            <div class="h1">{$deaths['thirdVaccination']['absolute']|number: 0, '.', ' '}</div>
            <div>Úmrtí očkovaných se 3. dávkou</div>
        </div>
    </div>
</div>