{*
 * Copyright (c) 2021 Strategio Digital s.r.o.
 * @author Jiří Zapletal (https://strategio.digital, jz@strategio.digital)
 *}

{varType array $deaths}

<div class="row">
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="h2 mt-4">
                {$deaths['all']['absolute']|number: 0, '.', ' '}
                <span class="lead d-lg-block d-xl-inline">&nbsp;</span>
            </div>
            <div class="h6 mt-3">Celková úmrtí za období</div>
            <div class="mt-4 small text-end">
                <span>&nbsp;</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="h2 mt-4">
                {($deaths['notVaccinated']['absolute'] + $deaths['firstVaccination']['absolute'])|number: 0, '.', ' '}
                <span class="lead d-lg-block d-xl-inline">({sprintf('%.2f', $deaths['notVaccinated']['percent'] + $deaths['firstVaccination']['percent'])} %)</span>
            </div>
            <div class="h6 mt-3">Úmrtí neočkovaných</div>
            <div class="mt-4 text-end">
                <span class="fw-bold">Přežije {(100 - ($deaths['notVaccinated']['percent'] + $deaths['firstVaccination']['percent']))|floor} lidí ze 100</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="h2 mt-4">
                {$deaths['secondVaccination']['absolute']|number: 0, '.', ' '}
                <span class="lead d-lg-block d-xl-inline">({sprintf('%.2f', $deaths['secondVaccination']['percent'])} %)</span>
            </div>
            <div class="h6 mt-3">Úmrtí očkovaných s 2. dávkou</div>
            <div class="mt-4 text-end">
                <span class="fw-bold">Přežije {(100 - ($deaths['secondVaccination']['percent']))|floor} lidí ze 100</span>
            </div>
        </div>
    </div>
    <div class="col-sm-6 col-lg-3">
        <div class="bg-secondary text-white p-4 mb-4">
            <div class="h2 mt-4">
                {$deaths['thirdVaccination']['absolute']|number: 0, '.', ' '}
                <span class="lead d-lg-block d-xl-inline">({sprintf('%.2f', $deaths['thirdVaccination']['percent'])} %)</span>
            </div>
            <div class="h6 mt-3">Úmrtí očkovaných se 3. dávkou</div>
            <div class="mt-4 text-end">
                <span class="fw-bold">Přežije {(100 - ($deaths['thirdVaccination']['percent']))|floor} lidí ze 100</span>
            </div>
        </div>
    </div>
</div>